body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1035px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:11px;
  top:49px;
  width:1024px;
  height:576px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:2px;
  top:280px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u54 {
  position:absolute;
  left:11px;
  top:169px;
  width:124px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u56 {
  position:absolute;
  left:38px;
  top:195px;
  width:90px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u58 {
  position:absolute;
  left:38px;
  top:238px;
  width:63px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u60 {
  position:absolute;
  left:38px;
  top:284px;
  width:90px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u62 {
  position:absolute;
  left:38px;
  top:305px;
  width:63px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:38px;
  top:326px;
  width:63px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u66 {
  position:absolute;
  left:38px;
  top:347px;
  width:63px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u68 {
  position:absolute;
  left:38px;
  top:368px;
  width:63px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u70 {
  position:absolute;
  left:38px;
  top:216px;
  width:90px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u72 {
  position:absolute;
  left:38px;
  top:435px;
  width:90px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u74 {
  position:absolute;
  left:38px;
  top:481px;
  width:90px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u76 {
  position:absolute;
  left:11px;
  top:144px;
  width:124px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u78 {
  position:absolute;
  left:11px;
  top:259px;
  width:124px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u80 {
  position:absolute;
  left:11px;
  top:410px;
  width:124px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u82 {
  position:absolute;
  left:11px;
  top:456px;
  width:124px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84 {
  position:absolute;
  left:38px;
  top:389px;
  width:63px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:180px;
  top:169px;
  width:805px;
  height:299px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:56px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:2px;
  top:20px;
  width:183px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u89 {
  position:absolute;
  left:187px;
  top:0px;
  width:174px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u89_ann {
  position:absolute;
  left:347px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:56px;
}
#u91 {
  position:absolute;
  left:361px;
  top:0px;
  width:184px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:2px;
  top:20px;
  width:180px;
  word-wrap:break-word;
}
#u91_ann {
  position:absolute;
  left:531px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:56px;
}
#u93 {
  position:absolute;
  left:545px;
  top:0px;
  width:255px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:2px;
  top:20px;
  width:251px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:57px;
}
#u95 {
  position:absolute;
  left:0px;
  top:56px;
  width:187px;
  height:57px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:2px;
  top:21px;
  width:183px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:57px;
}
#u97 {
  position:absolute;
  left:187px;
  top:56px;
  width:174px;
  height:57px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:57px;
}
#u99 {
  position:absolute;
  left:361px;
  top:56px;
  width:184px;
  height:57px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:2px;
  top:21px;
  width:180px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:57px;
}
#u101 {
  position:absolute;
  left:545px;
  top:56px;
  width:255px;
  height:57px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u102 {
  position:absolute;
  left:2px;
  top:21px;
  width:251px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:56px;
}
#u103 {
  position:absolute;
  left:0px;
  top:113px;
  width:187px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u104 {
  position:absolute;
  left:2px;
  top:20px;
  width:183px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:56px;
}
#u105 {
  position:absolute;
  left:187px;
  top:113px;
  width:174px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:56px;
}
#u107 {
  position:absolute;
  left:361px;
  top:113px;
  width:184px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:2px;
  top:20px;
  width:180px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:56px;
}
#u109 {
  position:absolute;
  left:545px;
  top:113px;
  width:255px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:2px;
  top:20px;
  width:251px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:60px;
}
#u111 {
  position:absolute;
  left:0px;
  top:169px;
  width:187px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u112 {
  position:absolute;
  left:2px;
  top:22px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
}
#u113 {
  position:absolute;
  left:187px;
  top:169px;
  width:174px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:60px;
}
#u115 {
  position:absolute;
  left:361px;
  top:169px;
  width:184px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:60px;
}
#u117 {
  position:absolute;
  left:545px;
  top:169px;
  width:255px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:65px;
}
#u119 {
  position:absolute;
  left:0px;
  top:229px;
  width:187px;
  height:65px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u120 {
  position:absolute;
  left:2px;
  top:25px;
  width:183px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:65px;
}
#u121 {
  position:absolute;
  left:187px;
  top:229px;
  width:174px;
  height:65px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:2px;
  top:25px;
  width:170px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:65px;
}
#u123 {
  position:absolute;
  left:361px;
  top:229px;
  width:184px;
  height:65px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:2px;
  top:25px;
  width:180px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:65px;
}
#u125 {
  position:absolute;
  left:545px;
  top:229px;
  width:255px;
  height:65px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u126 {
  position:absolute;
  left:2px;
  top:25px;
  width:251px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u127 {
  position:absolute;
  left:761px;
  top:105px;
  width:145px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u129 {
  position:absolute;
  left:925px;
  top:105px;
  width:55px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u130 {
  position:absolute;
  left:2px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:742px;
  top:495px;
  width:64px;
  height:17px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:2px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:816px;
  top:495px;
  width:64px;
  height:17px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u134 {
  position:absolute;
  left:2px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u135 {
  position:absolute;
  left:916px;
  top:495px;
  width:64px;
  height:17px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u136 {
  position:absolute;
  left:2px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u137 {
  position:absolute;
  left:884px;
  top:496px;
  width:24px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:180px;
  top:143px;
  width:43px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:223px;
  top:139px;
  width:96px;
  height:25px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u141_input:disabled {
  color:grayText;
}
