<!DOCTYPE html>
<html>

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>POS</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker3.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo.jpg') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"> {% block head %}{% endblock %}
</head>

<body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">



                <a href="{{ url_for('main') }}">
                    <image src="{{ url_for('static', filename='images/Logo.jpg') }}" class="img-rounded"></image>
                </a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{session['nickname']}}  <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="uppswd('{{session['id']}}','{{session['name']}}')"><span class="glyphicon glyphicon-user"></span> 更改密码</a></li>
                            <li><a href="{{ url_for('exit') }}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

        <ul class="nav menu">
            <li class="active"><a href="{{ url_for('main') }}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>


            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-stats"></span> 销售管理 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children" id="sub-item-1">
                    <li>
                        <a class="" href="{{ url_for('sales') }}">
                            <span class=" glyphicon glyphicon-align-justify "></span> 总览查询
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('salesdetail') }}">
                            <span class="glyphicon glyphicon-send"></span> 明细查询
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('salesorder') }}">
                            <span class="glyphicon glyphicon-open"></span> 销售订单
                        </a>
                    </li>
                </ul>
            </li>

            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-usd"></span> 运费查询 <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children" id="sub-item-2">
                    <li>
                        <a class="" href="{{ url_for('freight') }}">
                            <span class="glyphicon glyphicon-book"></span> 运费估算
                        </a>
                    </li>

                </ul>
            </li>
            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-th"></span> 库存查询 <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children" id="sub-item-3">
                    <ul class="children" id="sub-item-3">
                        <li>
                            <a href="{{ url_for('stocks') }}">
                                <span class="glyphicon glyphicon-align-justify"></span> 所有宝贝
                            </a>
                        </li>
                        {% for cate in catelist %}
                        <li>
                            <a href="/stocks/{{cate.ecate}}">
                                <span class="glyphicon glyphicon-align-left"></span> {{cate.categroies}}
                            </a>
                        </li>
                        {%endfor %}
                        <li>
                            <a class="" href="{{ url_for('products') }}">
                                <span class="glyphicon glyphicon-file"></span>产品目录
                            </a>
                        </li>
                    </ul>
                </ul>
            </li>

            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-list"></span> 采购管理 <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children" id="sub-item-4">
                    <li>
                        <a href="{{ url_for('purlist') }}">
                            <span class="glyphicon glyphicon-save"></span> 订单列表
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('purchase') }}">
                            <span class="glyphicon glyphicon-save"></span> 采购产品
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent ">
                <a href="#">
                    <span class="glyphicon glyphicon-wrench"></span> 系统设置 <span data-toggle="collapse" href="#sub-item-5" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                </a>
                <ul class="children" id="sub-item-5">
                    <li>
                        <a class="" href="{{ url_for('users') }}">
                            <span class="glyphicon glyphicon-user"> 账号管理
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('roles') }}">
                            <span class="glyphicon glyphicon-user"> 角色管理
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('cates') }}">
                            <span class="glyphicon glyphicon-tasks"> 产品类别
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('trans') }}">
                            <span class="glyphicon glyphicon-plane"> 物流公司
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('delivery') }}">
                            <span class="glyphicon glyphicon-plane"> 送货方式
                        </a>
                    </li>
                    <li>
                        <a class="" href="{{ url_for('log') }}">
                            <span class="glyphicon glyphicon-log-in"> 操作日志
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
       
    </div>
    </div>
    <!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('main') }}"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li class="active">{{ nav }}</li>
                    </ol>
    </div>
    <!--/.row-->

    <div class="row">
        {% block content %}{% endblock %}
        <!--/.col-->
    </div>
    <!--/.row-->
    </div>
    <!--/.main-->



    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.zh-CN.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script>
        $('#calendar').datepicker({});

        ! function($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function() {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function() {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function() {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
    <div class="modal" id="password">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">修改帐号</h4>
                </div>
                <div class="modal-body">
                    <label for="inputDefault " class="control-label ">ID</label>
                    <input type="text" class="form-control" id="ID1" name="ID" placeholder="ID" readonly>
                    <label for="inputDefault" class="control-label">用户名</label>
                    <input type="text" class="form-control" id="username1" name="username" readonly>
                    <label for="inputPassword" class="control-label">密码</label>
                    <input type="password" class="form-control" id="password1" name="password" placeholder="留空表示不更改密码">
                    <div class="modal-footer ">
                        <button type="button " class="btn btn-default " data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="submit" onclick="updatepass()">保存更新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function uppswd(id, username) {
            $('#ID1').val(id);
            $('#username1').val(username);
            $('#submit').val("uppswd")
            $('#password').modal('show');
        }

        function updatepass() {
            //获取模态框数据  
            var id = $('#ID1').val();
            var password = $('#password1').val();
            var submit = $('#submit').val();

            $.ajax({
                type: "post",
                url: "{{ url_for('users') }}",
                data: "id=" + id + "&password=" + password + "&submit=" + submit,
                dataType: 'html',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function(result) {
                    location.reload();
                }
            });
        }
    </script>
</body>

</html>