 {% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">显示全部</a></li>
    <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">添加产品类别</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="ecate" data-sortable="true">产品类别EN</th>
                    <th data-field="categroies" data-sortable="true">产品类别</th>
                    <th data-field="control" data-sortable="true">操作</th>



                </tr>
            </thead>
            {% if catelist %} {% for cate in catelist %}

            <tr class="no-records-found">

                <td>{{cate.id}} </td>
                <td>{{cate.ecate}} </td>
                <td>{{cate.categroies}}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-xs" onclick="editInfo('{{cate.id}}','{{cate.ecate}}','{{cate.categroies}}' )">修改</a>
                    <a href="#" class="btn btn-danger btn-xs" onclick="delInfo('{{cate.id}}' )">删除</a>
                </td>
                {%endfor %}
            </tr>
            {%endif%}

        </table>
    </div>
    <div class="tab-pane fade" id="profile">
        <form class="form-horizontal alert alert-dismissible alert-info" action="" method="post">
            <fieldset>
                <legend>添加产品类别</legend>
                <div class="form-group">
                    <label for="inputDefault" class="col-lg-2 control-label">产品类别EN</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDefault" name="ecate" placeholder="产品类别" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDefault" class="col-lg-2 control-label">产品类别</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDefault" name="categroies" placeholder="产品类别" required>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" name="submit" value="add" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <!-- update the record-->
    <div class="modal" id="update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">产品类别</h4>
                </div>
                <div class="modal-body">
                    <label for="inputDefault " class="control-label ">ID</label>
                    <input type="text" class="form-control" id="ID1" name="ID" placeholder="ID " required readonly>
                    <label for="inputDefault " class="control-label ">产品类别EN</label>
                    <input type="text" class="form-control" id="ecate1" name="ecate" placeholder="产品类别EN " required>
                    <label for="inputDefault" class="control-label">产品类别</label>
                    <input type="text" class="form-control" id="categroies1" name="categroies" placeholder="产品类别" required>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-default " data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="submit" onclick="update()">保存更新</button>
                </div>
            </div>
        </div>
    </div>
    <!-- delete the record-->
    <div class="modal" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    你确认要删除么？
                    <input type="text" class="form-control hide" id="ID1" name="ID" required>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submit" class="btn btn-primary" data-dismiss="modal" onclick="update()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function editInfo(obj1, obj2, obj3) {
            $('#ID1').val(obj1);
            $('#ecate1').val(obj2);
            $('#categroies1').val(obj3);
            $('#submit').val("update")
            $('#update').modal('show');
        }

        function delInfo(obj1) {
            $('#ID1').val(obj1);
            $('#submit').val("delete")
            $('#delete').modal('show');
        }

        function update() {
            //获取模态框数据  
            var id = $('#ID1').val();
            var ecate = $('#ecate1').val();
            var categroies = $('#categroies1').val();
            var submit = $('#submit').val();
            $.ajax({
                type: "post",
                url: "{{ url_for('cates') }}",
                data: "id=" + id + "&ecate=" + ecate + "&categroies=" + categroies + "&submit=" + submit,
                dataType: 'html',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function(result) {
                    location.reload();
                }
            });
        }
    </script>
    {% endblock %}