<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<title>{{error}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/supersized.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">



	<link rel="shortcut icon" href="{{ url_for('static', filename='images/Logo.jpg') }}">

	<!-- CSS -->


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body>

	<div class="page-container">

		<h1><a href="{{ url_for('main') }}" style="error">{{error}}点我返回主页</a></h1>


	</div>

	<!-- Javascript -->
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/supersized.3.2.7.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


	<script>
    jQuery(function($){

    $.supersized({

        // Functionality
        slide_interval     : 4000,    // Length between transitions
        transition         : 1,    // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
        transition_speed   : 1000,    // Speed of transition
        performance        : 1,    // 0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)

        // Size & Position
        min_width          : 0,    // Min width allowed (in pixels)
        min_height         : 0,    // Min height allowed (in pixels)
        vertical_center    : 1,    // Vertically center background
        horizontal_center  : 1,    // Horizontally center background
        fit_always         : 0,    // Image will never exceed browser width or height (Ignores min. dimensions)
        fit_portrait       : 1,    // Portrait images will not exceed browser height
        fit_landscape      : 0,    // Landscape images will not exceed browser width

        // Components
        slide_links        : 'blank',    // Individual links for each slide (Options: false, 'num', 'name', 'blank')
        slides             : [    // Slideshow Images
                                 {% for i in range(1,4)%}
                                 {image : "/static/images/backgrounds/{{i}}.jpg"},
                                 {%endfor%}
                             ]

    });

});
</script>
</body>

</html>