 {% extends "base.html" %} {% block content %}
<!--总运费=price*体积*0.8+dropofffee，
如果price*体积*0.8<cheapest，
总运费=cheapest+dropofffe
查运费的时候，物流公司输入框默认项为“全部”，默认显示全部物流公司运费 
木架费是200元/m³
发货方式如果选的是自提，就直接是price*体积*折扣，不用加dropofffee了-->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/city.min.js') }}"></script>


<div class="panel panel-default">
    <div class="panel-heading">运费估算</div>
    <div class="panel-body">
        <div class="col-lg-12 form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">选择产品</label>
                <div class="col-lg-2">
                    <a href="#update" class="btn btn-primary" data-toggle="modal">选择产品</a>
                    <input class="form-control hide" placeholder="名称" name="products" id="products" required readonly>
                    <input class="form-control hide" placeholder="名称" name="id" id="productid" required readonly>
                </div>
                <label class="col-lg-2 control-label">数量</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="数量" type="number" id="number" name="number" value="1" required>
                </div>
                <label class="col-lg-2 control-label">发货城市</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="发货城市" value="杭州市" required name="deliverycity" id="deliverycity">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">提货方式</label>
                <div class="col-lg-2">
                    <select class="form-control" id="transportation" name="transportation" required>
                                    {% for deli in delilist %} {% if deli.delivery=="到付-送货到楼下" %}
										<option value="{{deli.delivery}}" selected>{{deli.delivery}}</option>
                                        {% else %}
                                        <option value="{{deli.delivery}}">{{deli.delivery}}</option>
                                        {%endif %}
										{%endfor %}
									</select>
                </div>
                <label class="col-lg-2 control-label">目的城市</label>
                <div class="col-lg-5">
                    <div class="infolist">
                        <div class="liststyle">
                            <span id="Province">
                                            <i>请选择省份</i>
                                            <ul>
                                                <li></li>
                                            </ul>
                                            <input type="hidden" id="cho_Province" name="cho_Province" value="广东省">
                                        </span>
                            <span id="City">
                                            <i>请选择城市</i>
                                            <ul>
                                                <li></li>
                                            </ul>
                                            <input type="hidden" name="cho_City" id="cho_City" value="广州市">
                                        </span>
                            <span id="Area">
                                            <i>请选择地区</i>
                                            <ul>
                                                <li></li>
                                            </ul>
                                            <input type="hidden" name="cho_Area" id="cho_Area" value="请选择地区">
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">物流公司</label>
                <div class="col-lg-2">
                    <select class="form-control" id="trancorp" name="trancorp" required>
                                    <option value="all">全部</option>
										 {% for trans in translist %}
										<option value="{{trans.corpname}}">{{trans.corpname}}</option>
                                        {% endfor %}
									</select>
                </div>
                <label class="col-lg-2 control-label">折扣</label>
                <div class="col-lg-2">
                    <select class="form-control" id="discount" required name="discount">
										<option value="1">无折扣</option>
										<option value = "0.9">9折</option>
                                        <option selected value = "0.8">8折</option>
                                        <option value = "0.7">7折</option>
                                        <option value = "0.6">6折</option>
                                        <option value = "0.5">5折</option>
									</select>
                </div>
                <label class="col-lg-2 control-label">打木架</label>
                <div class="col-lg-2">
                    <select class="form-control" id="wooden" name="wooden" required>
										<option value="yes">是</option>
										<option value="no" selected>否</option>
									</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">运输类型</label>
                <div class="col-lg-2">
                    <select class="form-control" id="transtype" name="transtype" required>
										<option value="快车">快车</option>
										<option value="慢车" selected>慢车</option>
									</select>
                </div>
                <label class="col-lg-2 control-label">体积(优先级高于选择产品)</label>
                <div class="col-lg-2  has-success">
                    <input class="form-control" placeholder="直接通过体积计算运费" name="bulk" id="bulk">
                </div>
            </div>
        </div>
    </div><button id="button" class="btn btn-primary pull-right" onclick="getdata()">提交</button>
    <button type="reset" class="btn btn-default">重置</button>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped" id="table" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar" data-pagination="true">
            <thead>
                <tr>
                    <th data-field="product" data-sortable="true">名称</th>
                    <th data-field="pkgsize" data-sortable="true">包装尺寸(cm)</th>
                    <th data-field="pkgbulk" data-sortable="true">包装体积(m³)=体积*数量</th>
                    <th data-field="price" data-sortable="true">单价(m³)</th>
                    <th data-field="transcorp" data-sortable="true">物流公司</th>
                    <th data-field="transtype" data-sortable="true">快车/慢车</th>
                    <th data-field="delicity" data-sortable="true">发货城市</th>
                    <th data-field="destcity" data-sortable="true">目的城市</th>
                    <th data-field="TBOST" data-sortable="true">时效</th>
                    <th data-field="fee" data-sortable="true">运费</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



<div class="modal" id="update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">选择产品</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
                    <thead>
                        <tr>
                            <th data-field="id" id="ID" data-sortable="true">ID</th>
                            <th data-field="picture" id="picture" data-sortable="true">产品图片</th>
                            <th data-field="products" id="products" data-sortable="true">产品名称</th>
                            <th data-field="control" id="control" data-sortable="true">操作</th>
                        </tr>
                    </thead>{% if prolist %} {% for pro in prolist %}
                    <tr class="no-records-found">

                        <td>{{pro.id}}</td>
                        <td><img class="img-responsive" src="../static/upload/{{pro.picture}}" width="200" /></td>
                        <td>{{pro.products}}</td>
                        <td><button type="button" class="btn btn-primary" id="submit" onclick="update('{{pro.id}}','{{pro.products}}','{{pro.code}}')">选择</button></td>
                        {% endfor %}

                    </tr>{% endif %}


                </table>
            </div>

        </div>
    </div>
</div>
<script>
    function update(id, products, code) {
        $('#productid').val(id);
        $('#products').val(products);
        $('#code').val(code);
        $('#update').modal('hide');
    }

    function getdata() {

        var $table = $('#table');
        $table.bootstrapTable('removeAll');
        var id = $('#productid').val();
        var deliverycity = $('#deliverycity').val();
        var trancorp = $('#trancorp').val();
        var cho_Province = $('#cho_Province').val();
        var cho_City = $('#cho_City').val();
        var cho_Area = $('#cho_Area').val();
        var transportation = $('#transportation').val();
        var number = $('#number').val();
        var discount = $('#discount').val();
        var wooden = $('#wooden').val();
        var bulk = $('#bulk').val();
        var transtype = $('#transtype').val();
        $.ajax({
            type: "post",
            url: "{{ url_for('freight') }}",
            data: "id=" + id + "&deliverycity=" + deliverycity + "&trancorp=" + trancorp + "&cho_Province=" + cho_Province + "&cho_City=" + cho_City + "&cho_Area=" + cho_Area + "&transportation=" + transportation + "&number=" + number + "&discount=" + discount + "&wooden=" + wooden + "&bulk=" + bulk + "&transtype=" + transtype,
            dataType: 'json',
            success: function(data) {

                $table.bootstrapTable('load', data.msg);

            }
        });
    }
</script> {% endblock %}