 {% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/easypiechart.js') }}"></script>
<script src="{{ url_for('static', filename='js/easypiechart-data.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart-data.js') }}"></script>



<div class="panel panel-default">
    <div class="panel-heading">近6个月销售情况</div>
    <div class="panel-body">
        <div class="canvas-wrapper">
            <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
        </div>
    </div>
</div>


<div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
            <h4>Label:</h4>
            <div class="easypiechart" id="easypiechart-blue" data-percent="92"><span class="percent">92%</span>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
            <h4>Label:</h4>
            <div class="easypiechart" id="easypiechart-orange" data-percent="65"><span class="percent">65%</span>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
            <h4>Label:</h4>
            <div class="easypiechart" id="easypiechart-teal" data-percent="56"><span class="percent">56%</span>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
            <h4>Label:</h4>
            <div class="easypiechart" id="easypiechart-red" data-percent="27"><span class="percent">27%</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}