 {% extends "base.html" %} {% block content %}
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Hello {{session['name']}} </h1>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel ">
            <div class="panel-heading dark-overlay"><span class="glyphicon glyphicon-calendar"></span>Calendar</div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>
        {% endblock %}