 {% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">产品目录</a></li>
    <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">新建产品</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="picture" data-sortable="true">产品</th>
                    <th data-field="products" data-sortable="true">名称</th>
                    <th data-field="code" data-sortable="true">编号</th>
                    <th data-field="specification" data-sortable="true">规格</th>
                    <th data-field="color" data-sortable="true">颜色</th>
                    <th data-field="pkgsize" data-sortable="true">包装尺寸(cm)</th>
                    <th data-field="pgkbulk" data-sortable="true">包装体积(m³)</th>
                    <th data-field="categroies" data-sortable="true">类别</th>
                    <th data-field="memo" data-sortable="true">备注</th>
                    <th data-field="control" data-sortable="true">操作</th>
                </tr>
            </thead>
            {% if prolist %} {% for pro in prolist %}
            <tr class="no-records-found">
                <td>{{pro.id}}</td>
                <td><img class="img-responsive" src="../static/upload/{{pro.picture}}" width="200" /></td>
                <td>{{pro.products}}</td>
                <td>{{pro.code}}</td>
                <td>{{pro.specification}}</td>
                <td>{{pro.color}}</td>
                <td>{{pro.pkgsize}}</td>
                <td>{{pro.pgkbulk}}</td>
                <td>{{pro.categroies}}</td>
                <td>{{pro.memo}}</td>
                <td><a href=" # " class="btn btn-primary btn-xs" onclick="editInfo('{{pro.id}}','{{pro.products}}','{{pro.picture}}','{{pro.code}}','{{pro.specification}}','{{pro.pkgsize}}','{{pro.pgkbulk}}','{{pro.categroies}}','{{pro.memo}}' )">修改</a>
                    <!--<a href="# " class="btn btn-danger btn-xs" onclick="delInfo('{{pro.id}}' )">删除</a></td>-->
                    {% endfor %}
            </tr>{% endif %}
        </table>
    </div>
    <div class="tab-pane fade" id="profile">
        <form role="form" class="form-horizontal" action="" method="post">

            <div class="form-group">
                <label class="col-lg-1 control-label">产品图片</label>
                <div class="col-lg-2">
                    <span class="btn btn-default fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>选择文件</span>
                    <input id="fileupload" type="file" name="files[]" multiple="" data-url="/upload" class="form-control" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'>
                    </span>
                </div>
                <div class="col-lg-3"><input class="form-control" id="picture" name="picture" required readonly placeholder="上传成功后在此显示文件名"></div>


                <label class="col-lg-1 control-label">名称</label>
                <div class="col-lg-4">
                    <input class="form-control" placeholder="名称" name="products" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">编号</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="编号" name="code" required>
                </div>
                <label class="col-lg-1 control-label">规格</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="唯一字段,不能与现有的重复" name="specification" required>
                </div>
                <label class="col-lg-1 control-label">颜色</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="颜色" name="color" required>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-1 control-label">包装尺寸(cm)</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="包装尺寸(cm)" name="pkgsize" required>
                </div>
                <label class="col-lg-1 control-label">包装体积(m³)</label>
                <div class="col-lg-2">
                    <input class="form-control" placeholder="请输入数字,否则会出错" name="pgkbulk" required>
                </div>
                <label class="col-lg-1 control-label">类别</label>
                <div class="col-lg-2">
                    <select class="form-control" id="select" name="categroies" required>
                                    {% for cate in catelist %}
										<option value="{{cate.categroies}}">{{cate.categroies}}</option>
                                    {% endfor %}
									</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">备注</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea" name="memo"></textarea>
                </div>

            </div>
            <button type="reset" class="btn btn-default">重置</button>
            <button type="submit" class="btn btn-primary pull-right" name="submit" value="add">提交</button>
        </form>
    </div>
</div>





<!-- update the record-->
<div class="modal" id="update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">修改产品</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">ID</label>
                <input class="form-control" placeholder="编号" name="ID" readonly id="ID1">
                <span class="btn btn-default fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>产品图片</span>
                <input id="fileupload1" type="file" name="files[]" multiple="" data-url="/upload" class="form-control">
                </span>
                <input class="form-control" id="picture1" name="picture" readonly placeholder="上传成功后在此显示文件名">

                <label class="control-label">名称</label>
                <input class="form-control" placeholder="名称" name="products" id="products1" required>
                <label class="control-label">编号</label>
                <input class="form-control" placeholder="编号" name="code" id="code1" required>
                <label class="control-label">规格</label>
                <input class="form-control" placeholder="规格" name="specification" id="specification1" required>
                <label class="control-label">包装尺寸(cm)</label>
                <input class="form-control" placeholder="包装尺寸(cm)" name="pkgsize" id="pkgsize1" required>
                <label class="control-label">包装体积(m³)</label>
                <input class="form-control" placeholder="包装体积(m³)" name="pgkbulk" id="pgkbulk1" required>
                <label class="control-label">类别</label>
                <select class="form-control" id="categroies1" name="categroies" required>
{% for cate in catelist %}
<option value="{{cate.categroies}}">{{cate.categroies}}</option>
{% endfor %}
</select>
                <label class="control-label">备注</label>
                <textarea class="form-control" rows="3" id="memo1" name="memo"></textarea>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submit" onclick="update()">保存更新</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- delete the record-->
<div class="modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                你确认要删除么？
                <input type="text" class="form-control hide" id="ID1" name="ID" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-primary" data-dismiss="modal" onclick="update()">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                文件上传成功
                <input type="text" class="form-control hide" id="ID1" name="ID" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-primary" data-dismiss="modal">确认</button>

            </div>
        </div>
    </div>
</div>

<script>
    function editInfo(id, products, picture, code, specification, pkgsize, pgkbulk, categroies, memo) {
        $('#ID1').val(id);
        $('#picture1').val(picture);
        $('#products1').val(products);
        $('#code1').val(code);
        $('#specification1').val(specification);
        $('#pkgsize1').val(pkgsize);
        $('#pgkbulk1').val(pgkbulk);
        $('#categroies1').val(categroies);
        $('#memo1').val(memo);
        $('#submit').val("update")
        $('#update').modal('show');
    }

    function delInfo(id) {
        $('#ID1').val(id);
        $('#submit').val("delete")
        $('#delete').modal('show');
    }

    function update() {
        //获取模态框数据  
        var id = $('#ID1').val();
        var picture = $('#picture1').val();
        var products = $('#products1').val();
        var code = $('#code1').val();
        var specification = $('#specification1').val();
        var pkgsize = $('#pkgsize1').val();
        var pgkbulk = $('#pgkbulk1').val();
        var categroies = $('#categroies1').val();
        var memo = $('#memo1').val();
        var submit = $('#submit').val();
        $.ajax({
            type: "post",
            url: "{{ url_for('products') }}",
            data: "id=" + id + "&picture=" + picture + "&products=" + products + "&code=" + code + "&specification=" + specification + "&pkgsize=" + pkgsize + "&pgkbulk=" + pgkbulk + "&categroies=" + categroies + "&memo=" + memo + "&submit=" + submit,
            dataType: 'html',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function(result) {
                location.reload();
            }
        });
    }
    $(function() {
        $('#fileupload').fileupload({
            dataType: 'json',
            done: function(e, data) {
                $.each(data.result.files, function(index, file) {

                    $('<p/>').text(file.name).appendTo(document.body);
                    document.getElementById("picture").value = file.name;
                });
                $('#upload').modal('show');
            }

        });
    });
    $(function() {
        $('#fileupload1').fileupload({
            dataType: 'json',
            done: function(e, data) {
                $.each(data.result.files, function(index, file) {

                    $('<p/>').text(file.name).appendTo(document.body);
                    document.getElementById("picture1").value = file.name;
                });
                $('#upload').modal('show');
            }

        });
    });
</script> {% endblock %}