 {% extends "base.html" %} {% block content %}
<div class="panel-body">
    <div class="bootstrap-table">
        <div class="fixed-table-toolbar">
            <div class="columns btn-group pull-right"><button class="btn btn-default" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button><button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon glyphicon glyphicon-list-alt icon-list-alt"></i></button>
                <div class="keep-open btn-group" title="Columns"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><label><input type="checkbox" data-field="id" value="1" checked="checked"> 角色</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 权限</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 操作</label></li>


                    </ul>
                </div>
            </div>
            <div class="pull-right search"><input class="form-control" type="text" placeholder="Search"></div>
        </div>
        <div class="fixed-table-container">
            <div class="fixed-table-header">
                <table></table>
            </div>
            <div class="fixed-table-body">
                <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="bs-checkbox " style="width: 36px; ">
                                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">角色</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">权限</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">操作</div>
                                <div class="fht-cell"></div>
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr class="no-records-found">
                            <td colspan="3">No matching records found</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-xs" href="#"><i class="icon-user icon-white"></i>操作</a>
                                    <a class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-pencil"></i>修改</a></li>
                                        <li><a href="#"><i class="icon-trash"></i>删除</a></li>
                                        <li><a href="#"><i class="icon-ban-circle"></i>禁用</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="fixed-table-pagination ">
                <div class="pull-left pagination-detail "><span class="pagination-info ">Showing 1 to 0 of 0 rows</span><span class="page-list "><span class="btn-group dropup "><button type="button " class="btn btn-default dropdown-toggle
                                " data-toggle="dropdown "><span class="page-size ">10</span>
                    <span class="caret "></span>
                    </button>
                    <ul class="dropdown-menu " role="menu ">
                        <li class="active "><a href="javascript:void(0) ">10</a></li>
                        <li><a href="javascript:void(0) ">25</a></li>
                        <li><a href="javascript:void(0) ">50</a></li>
                        <li><a href="javascript:void(0) ">100</a></li>
                    </ul>
                    </span> records per page</span>
                </div>
                <div class="pull-right pagination ">
                    <ul class="pagination ">
                        <li class="page-first disabled "><a href="javascript:void(0) ">&lt;&lt;</a></li>
                        <li class="page-pre disabled "><a href="javascript:void(0) ">&lt;</a></li>
                        <li class="page-next disabled "><a href="javascript:void(0) ">&gt;</a></li>
                        <li class="page-last disabled "><a href="javascript:void(0) ">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix "></div>
</div>

<div class="col-lg-6">
    <form class="form-horizontal alert alert-dismissible alert-info">
        <fieldset>
            <legend>新建角色</legend>
            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">角色名</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputDefault" placeholder="用户名">
                </div>
            </div>


            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">权限</label>

                <div class="col-lg-10"><label for="inputDefault" class="col-lg-3 control-label">销售情况</label>
                    <div class="checkbox">
                        <label><input type="checkbox"> 总览查询</label>
                        <label><input type="checkbox"> 明细查询</label>
                        <label><input type="checkbox"> 录入</label>
                    </div>




                    <label for="inputDefault" class="col-lg-3 control-label">运费查询</label>
                    <div class="checkbox">
                        <label><input type="checkbox"> 运费估算</label>
                    </div>

                    <label for="inputDefault" class="col-lg-3 control-label">库存情况</label>
                    <div class="checkbox">
                        <label><input type="checkbox"> 所有宝贝</label>
                        <label><input type="checkbox"> 柜/箱</label>
                        <label><input type="checkbox"> 椅/凳</label>
                        <label><input type="checkbox"> 桌/几</label>
                        <label><input type="checkbox"> 沙发</label>
                        <label><input type="checkbox"> 新增</label>
                    </div>
                    <label for="inputDefault" class="col-lg-3 control-label">系统设置</label>
                    <div class="checkbox">
                        <label><input type="checkbox"> 账号管理</label>
                        <label><input type="checkbox"> 角色管理</label>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">重置</button>
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>





{% endblock %}