 {% extends "base.html" %} {% block content %}
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="employee" data-sortable="true">员工</th>
                                <th data-field="price" data-sortable="true">销售额</th>
                                <th data-field="Aprice" data-sortable="true">物流费用</th>
                                <th data-field="Recashes" data-sortable="true">返现费用</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}