 {% extends "base.html" %} {% block head %} {% endblock %} {% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<div class="panel-body">
    <label class="col-lg-1 control-label">统计时间断</label>
    <div class="col-lg-2">
        <div class="input-group date" data-provide="datepicker">
            <input class="form-control" type=text placeholder="开始日期" name="startdate" id="startdate">
            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="input-group date" data-provide="datepicker">
            <input class="form-control" type=text placeholder="结束日期" name="enddate" id="enddate">
            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    <button id="button" class="btn btn-primary col-lg-1 control-label" onclick="getdata()">提交</button>

    <div class="col-lg-2">
        <div class="input-group date" data-provide="datepicker">
            <input class="form-control" type=text placeholder="结算日期" name="caldate" id="caldate">
            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    <button id="button" class="btn btn-primary col-lg-1 control-label" onclick="getcaldata()">提交</button>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" id="table" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="employee" data-sortable="true">员工</th>
                                <th data-field="price" data-sortable="true">销售额</th>
                                <th data-field="Aprice" data-sortable="true">物流费用</th>
                                <th data-field="Recashes" data-sortable="true">返现费用</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getdata() {

        var $table = $('#table');
        $table.bootstrapTable('removeAll');
        var startdate = $('#startdate').val();
        var enddate = $('#enddate').val();
        $.ajax({
            type: "post",
            url: "{{ url_for('sales') }}",
            data: "startdate=" + startdate + "&enddate=" + enddate + "&submit=area",
            dataType: 'json',
            success: function(data) {

                $table.bootstrapTable('load', data.msg);

            }
        });
    }

    function getcaldata() {

        var $table = $('#table');
        $table.bootstrapTable('removeAll');
        var caldate = $('#caldate').val();
        $.ajax({
            type: "post",
            url: "{{ url_for('sales') }}",
            data: "caldate=" + caldate + "&submit=cal",
            dataType: 'json',
            success: function(data) {

                $table.bootstrapTable('load', data.msg);

            }
        });
    }
</script>
{% endblock %}