 {% extends "base.html" %} {% block content %}
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="picture" data-sortable="true">产品</th>
                                <th data-field="orderdate" data-sortable="true">下单日期</th>
                                <th data-field="wangwang" data-sortable="true">旺旺号</th>
                                <th data-field="cdeliverydate" data-sortable="true">客户要求发货时间</th>
                                <th data-field="type" data-sortable="true">规格</th>
                                <th data-field="color" data-sortable="true">颜色</th>
                                <th data-field="number" data-sortable="true">数量</th>
                                <th data-field="address" data-sortable="true">客户收货信息</th>
                                <th data-field="transportation" data-sortable="true">物流送货方式</th>
                                <th data-field="Inprice" data-sortable="true">保价</th>
                                <th data-field="price" data-sortable="true">商品价格</th>
                                <th data-field="advprice" data-sortable="true">预收运费</th>
                                <th data-field="CSE" data-sortable="true">销售客服</th>
                                <th data-field="deliverydate" data-sortable="true">发货日期</th>
                                <th data-field="Tnumber" data-sortable="true">物流单号</th>
                                <th data-field="Aprice" data-sortable="true">实际运费</th>
                                <th data-field="Recashes" data-sortable="true">返现</th>
                                <th data-field="Commission" data-sortable="true">提成结算</th>
                                <th data-field="memo" data-sortable="true">备注</th>
                                <th data-field="control" data-sortable="true">操作</th>
                            </tr>
                        </thead>
                        {% if saleslist %} {% for sales in saleslist %}
                        <tr class="no-records-found">
                            <td>{{sales.id}}</td>
                            <td>{{sales.picture}}</td>
                            <td>{{sales.orderdate}}</td>
                            <td>{{sales.wangwang}}</td>
                            <td>{{sales.cdeliverydate}}</td>
                            <td>{{sales.type}}</td>
                            <td>{{sales.color}}</td>
                            <td>{{sales.number}}</td>
                            <td>{{sales.address}}</td>
                            <td>{{sales.transportation}}</td>
                            <td>{{sales.Inprice}}</td>
                            <td>{{sales.price}}</td>
                            <td>{{sales.advprice}}</td>
                            <td>{{sales.CSE}}</td>
                            <td>{{sales.deliverydate}}</td>
                            <td>{{sales.Tnumber}}</td>
                            <td>{{sales.Aprice}}</td>
                            <td>{{sales.Recashes}}</td>
                            <td>{{sales.Commission}}</td>
                            <td>{{sales.memo}}</td>

                            <td><a href="#" class="btn btn-primary btn-xs">修改</a> <a href="#" class="btn btn-danger btn-xs">删除</a></td>
                            {% endfor %}

                        </tr>{% endif %}

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}