 {% extends "base.html" %} {% block content %}

<div class="panel-body">
    <div class="bootstrap-table">
        <div class="fixed-table-toolbar">
            <div class="columns btn-group pull-right"><button class="btn btn-default" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button><button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon glyphicon glyphicon-list-alt icon-list-alt"></i></button>
                <div class="keep-open btn-group" title="Columns"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><label><input type="checkbox" data-field="id" value="1" checked="checked"> 产品</label></li>
                        <li><label><input type="checkbox" data-field="name" value="2" checked="checked"> 编号</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 规格</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 颜色</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 展厅数量</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 仓库数量</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 工厂数量</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 包装尺寸(cm)</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 包装体积(m³)</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 备注</label></li>
                        <li><label><input type="checkbox" data-field="price" value="3" checked="checked"> 操作</label></li>


                    </ul>
                </div>
            </div>
            <div class="pull-right search"><input class="form-control" type="text" placeholder="Search"></div>
        </div>
        <div class="fixed-table-container">
            <div class="fixed-table-header">
                <table></table>
            </div>
            <div class="fixed-table-body">
                <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="bs-checkbox " style="width: 36px; ">
                                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">产品</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">名称</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">编号<span class="order"><span class="caret" style="margin: 10px 5px;"></span></span>
                                </div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">规格</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">颜色</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">展厅数量</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">仓库数量</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">工厂数量</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">包装尺寸(cm)</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">包装体积(m³)</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">类别</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">备注</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="">
                                <div class="th-inner sortable">操作</div>
                                <div class="fht-cell"></div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>{% if stocklist %} {% for stocks in stocklist %}
                        <tr class="no-records-found">
                             <td>{{stocks.id}}</td>
<td>{{stocks.picture}}</td>
<td>{{stocks.products}}</td>

<td>{{stocks.code}}</td>
<td>{{stocks.specification}}</td>
<td>{{stocks.color}}</td>
<td>{{stocks.exstock}}</td>
<td>{{stocks.whstock}}</td>
<td>{{stocks.fastock}}</td>
<td>{{stocks.pkgsize}}</td>
<td>{{stocks.pgkbulk}}</td>
<td>{{stocks.categroies}}</td>
<td>{{stocks.memo}}</td>
                             <td><a href=" # " class="btn btn-primary btn-xs ">修改</a> <a href="# " class="btn btn-danger btn-xs ">删除</a></td>
                             {% endfor %} {% else %}
                            <td colspan="11">No matching records found</td>
                        </tr>{% endif %}
                    </tbody>
                </table>
            </div>
            <div class="fixed-table-pagination ">
                <div class="pull-left pagination-detail "><span class="pagination-info ">Showing 1 to 0 of 0 rows</span><span class="page-list "><span class="btn-group dropup "><button type="button " class="btn btn-default dropdown-toggle
                                " data-toggle="dropdown "><span class="page-size ">10</span>
                    <span class="caret "></span>
                    </button>
                    <ul class="dropdown-menu " role="menu ">
                        <li class="active "><a href="javascript:void(0) ">10</a></li>
                        <li><a href="javascript:void(0) ">25</a></li>
                        <li><a href="javascript:void(0) ">50</a></li>
                        <li><a href="javascript:void(0) ">100</a></li>
                    </ul>
                    </span> records per page</span>
                </div>
                <div class="pull-right pagination ">
                    <ul class="pagination ">
                        <li class="page-first disabled "><a href="javascript:void(0) ">&lt;&lt;</a></li>
                        <li class="page-pre disabled "><a href="javascript:void(0) ">&lt;</a></li>
                        <li class="page-next disabled "><a href="javascript:void(0) ">&gt;</a></li>
                        <li class="page-last disabled "><a href="javascript:void(0) ">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix "></div>
</div>

{% endblock %}