 {% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="picture" data-sortable="true">产品</th>
                                <th data-field="products" data-sortable="true">名称</th>
                                <th data-field="code" data-sortable="true">编号</th>
                                <th data-field="specification" data-sortable="true">规格</th>
                                <th data-field="color" data-sortable="true">颜色</th>
                                <th data-field="exstock" data-sortable="true">展厅数量</th>
                                <th data-field="whstock" data-sortable="true">仓库数量</th>
                                <th data-field="fastock" data-sortable="true">工厂数量</th>
                                <th data-field="pkgsize" data-sortable="true">包装尺寸(cm)</th>
                                <th data-field="pgkbulk" data-sortable="true">包装体积(m³)</th>
                                <th data-field="categroies" data-sortable="true">类别</th>
                                <th data-field="memo" data-sortable="true">备注</th>
                                <th data-field="control" data-sortable="true">操作</th>

                            </tr>
                        </thead>
                        {% if stocklist %} {% for stocks in stocklist %}
                        <tr class="no-records-found">
                            <td>{{stocks.id}}</td>
                            <td><img class="img-responsive" src="../static/upload/{{stocks.picture}}" /></td>
                            <td>{{stocks.products}}</td>
                            <td>{{stocks.code}}</td>
                            <td>{{stocks.specification}}</td>
                            <td>{{stocks.color}}</td>
                            <td>{{stocks.exstock}}</td>
                            <td>{{stocks.whstock}}</td>
                            <td>{{stocks.fastock}}</td>
                            <td>{{stocks.pkgsize}}</td>
                            <td>{{stocks.pgkbulk}}</td>
                            <td>{{stocks.categroies}}</td>
                            <td>{{stocks.memo}}</td>
                            <td><a href=" # " class="btn btn-primary btn-xs ">修改</a> <a href="# " class="btn btn-danger btn-xs ">删除</a></td>
                            {% endfor %}

                        </tr>{% endif %}
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}