 {% extends "base.html" %} {% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">显示全部</a></li>
    <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">新建物流公司</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="corpname" data-sortable="true">物流公司</th>
                    <th data-field="control" data-sortable="true">操作</th>
                </tr>
            </thead>
            {% if translist %} {% for trans in translist %}

            <tr class="no-records-found">

                <td>{{trans.id}} </td>
                <td>{{trans.corpname}} </td>
                <td>
                    <a href="#" class="btn btn-primary btn-xs">修改</a> <a href="#" class="btn btn-danger btn-xs">删除</a>
                </td>
                {%endfor %}
            </tr>
            {%endif%}
        </table>
    </div>




    <div class="tab-pane fade" id="profile">
        <form class="form-horizontal alert alert-dismissible alert-info" action="" method="post">
            <fieldset>
                <legend>添加物流公司</legend>
                <div class="form-group">
                    <label for="inputDefault" class="col-lg-2 control-label">物流名字</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDefault" name="corpname" placeholder="物流名字" required>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="submit" name="submit" value="add" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>





    {% endblock %}