 {% extends "base.html" %} {% block content %}
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>账号</th>
            <th>岗位</th>
            <th>权限</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="info">
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary btn-xs" href="#"><i class="icon-user icon-white"></i>操作</a>
                    <a class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-pencil"></i>修改</a></li>
                        <li><a href="#"><i class="icon-trash"></i>删除</a></li>
                        <li><a href="#"><i class="icon-ban-circle"></i>禁用</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i>设为管理员</a></li>
                    </ul>
                </div>
            </td>

        </tr>
    </tbody>
</table>


<div class="col-lg-4">
    <form class="form-horizontal alert alert-dismissible alert-info">
        <fieldset>
            <legend>新建帐号</legend>
            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">用户名</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputDefault" placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">密码</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="密码">
                </div>
            </div>


            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">岗位</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select">
          <option>客服</option>
          <option>美工</option>
          <option>仓库</option>
        </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">权限</label>
                <div class="col-lg-10">
                    <div class="checkbox">
                        <label>
            <input type="checkbox"> Checkbox
          </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">重置</button>
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}