 {% extends "base.html" %} {% block content %}
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id">
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="username" data-sortable="true">账号</th>
                                <th data-field="nickname" data-sortable="true">别名</th>
                                <th data-field="mobile" data-sortable="true">手机</th>
                                <th data-field="role" data-sortable="true">角色</th>
                                <th data-field="control" data-sortable="true">操作</th>
                            </tr>
                        </thead>
                        {% if userlist %} {% for user in userlist %}
                        <tr class="no-records-found">

                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.nickname}}</td>
                            <td>{{user.mobile}}</td>
                            <td>{{user.role}}</td>

                            <td>
                              <a href="#" class="btn btn-primary btn-xs">修改</a> <a href="#" class="btn btn-danger btn-xs">删除</a>
                            </td>
                            {% endfor %}

                        </tr>{% endif %}
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix "></div>
</div>
<div class="col-lg-6">
    <form class="form-horizontal alert alert-dismissible alert-info" action="" method="post">
        <fieldset>
            <legend>新建帐号</legend>
            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">用户名</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="username" id="inputDefault" placeholder="用户名" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">密码</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="密码" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">别名</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="nickname" id="inputDefault" placeholder="别名,推荐写真名,跟销售表里面的客服对应" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputDefault" class="col-lg-2 control-label">手机</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputDefault" name="mobile" placeholder="手机">
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">角色</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" name="role" required>
                         {% if rolelist %} {% for role in rolelist %}
          <option value="{{role.rolename}}">{{role.rolename}}</option>
    {%endfor %} {%else%}
    <option>请先建角色</option>
     {%endif%}
        </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">重置</button>
                    <button type="submit" name="submit" value="add" class="btn btn-primary">添加</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

</script> {% endblock %}